<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      To-Do List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">To-Do List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input [(ngModel)]="task" placeholder="Nouvelle tâche"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="addTask()">Ajouter</ion-button>

  <ion-list>
    <ion-item *ngFor="let item of tasks">
      {{ item }}
    </ion-item>
  </ion
